////////////////////////////////////////////////////////////////////////////////
// Page Styling
// --------------------
// This file combines all partials into one main style sheet, to be loaded on 
// all pages.
////////////////////////////////////////////////////////////////////////////////

@import "vars"; // Imports default variables and mixins.
@import "layout";   // Defines positioning of major page elements.
@import "base";     // Establishes general color and typography rules and browser resets.
@import "document"; // Default content styles.
@import "modules";   // Defines module styles.
//@import "mobile";   // We can now define our mobile styles inline
@import "print";    // Defines styles for printing.


/* FONTS */
@font-face {
    font-family: 'grotesque_mt_stdregular';
    src: url('../../fonts/grotesquemtstd-webfont.eot');
    src: url('../../fonts/grotesquemtstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/grotesquemtstd-webfont.woff') format('woff'),
         url('../../fonts/grotesquemtstd-webfont.ttf') format('truetype'),
         url('../../fonts/grotesquemtstd-webfont.svg#grotesque_mt_stdregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*VARIABLES*/
$min_width: 1200px;

/* HELPERS */
.centered_content{
  width: 960px;
  margin: 0 auto;
}
.centered_content_1200{
  width: 1200px;
  margin: 0 auto;
}
.bigger_font_size{
  font-size: 34px;
  letter-spacing: 5px;
  line-height: 34px;
}
.big_font_style{
  font-size: 21px;
  letter-spacing: 3px;
  line-height: 23px;
  font-weight: normal;
}
.normal_font_style{
  font-size: 14px;
  letter-spacing: 0.4px;
  line-height: 1.2em;
}
.underline_big_hover{
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
  &:hover{
    border-bottom: 1px solid;
  }
}
.underline_big{
  @extend .underline_big_hover;
  border-bottom: 1px solid ;
}
.underline_normal_hover{
  border-bottom: 1px solid transparent;
  padding-bottom: 0;
  &:hover{
    border-bottom: 1px solid;
  }
}
.underline_normal{
  border-bottom: 1px solid;
  padding-bottom: 1px;
}
.left{
  float: left;
}
.right{
  float: right;
}
.big_button{
  @extend .big_font_style;
  background-color: #FFFFFF;
  background-color: transparent;
  border: 1px solid;
  height: 50px;
  color: black;
  padding: 0 18px;
  &:hover{
    text-decoration: none;
  }
}


/*OVERWRITE*/
ul, li,
ul li.leaf, 
ul li.expanded{
	list-style: none;
	margin: 0;
	padding: 0;
}
a, a:hover,  a:active, a:visited{
	color:black;
	text-decoration: none;
  @extend .underline_normal_hover;
}
h1, .h1{
  font-size: 45px;
  font-weight: normal;
  line-height: 4.2rem;
}
h2, .h2{
  @extend .big_font_style;
  font-weight: normal;
  line-height: 2rem;
  margin: 0;
  background: transparent;
}
.ajax-progress, .checkout-processing{
  display: none !important;
}


/*UI*/
input[type="checkbox"]{
  display: none;
}
input[type="checkbox"] + label, 
input[type="checkbox"] + div + label{
  padding-left: 28px;
  background: url("../../images/ui/checkbox.png") no-repeat scroll 0 -30px rgba(0, 0, 0, 0);
  min-height: 18px; 
  display: inline-block;
}
input[type="checkbox"]:checked + label, 
input[type="checkbox"][disabled]:checked + div + label{
  background-position: 0 0;
}



/*MAIN*/
body{
  @extend .normal_font_style;
  font-family: 'grotesque_mt_stdregular';
  min-width: $min_width;
}
#page{
  // width: auto;
  @extend .centered_content;
}
#main{
	padding-top: 120px;
}
#content{
  margin-bottom: 30px;
}
div.error{
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
    color: #FF0000;
    padding: 0;
    ul{
      margin: 0;
    }
}
.inner{
  padding: 0;
}

/*HEADER*/
.inactive_li{
  height: 0;
  opacity: 0;
  display:none; 
}
.active_li{
  height: 19px;
  opacity: 1;
  display:block;
}
#header{
  min-width: $min_width;
  background: transparent;
  float: left;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 24px 0;
  border: none;
  #header-region{
    @extend .centered_content;
  }
  .block,
  .menu li{
	   display: inline-block;
	   float: left;
	}
  .block .view-content{
  	 display: none;
  }
  .block-views{
  	position: absolute;
  	top: 24px;
  	left:  24px;
  	.links{
    	@extend .big_font_style;
  	}
  }
  #block-system-main-menu{
  	width:100%;
  	li{
      @extend .normal_font_style;
      &:nth-child(1){
        margin-right: 16%;
        width: 17%;
      }
      &:nth-child(2){
        margin: 0 12.5%;
        width: 8%;
      }
      &:nth-child(3){
        margin-left: 28%;
        width: 6%;
        margin-left: 19%;
      }
    }
    ul{
      li{
        ul{
          width: 300px;
          li{
            padding: 0 !important;
            width: auto !important;
          }
        }
        .nolink{
          cursor: pointer;
          @extend .big_font_style;
          display: inline-block;
          position: relative;
          &.active-trail{
            @extend .underline_big;
          }
          @extend .underline_big_hover;
          // &:hover{
          //   @extend .underline_big;
          // }
        }
      } 
      li.expanded {
        ul{
          font-size: 19px;
          padding-top: 9px;
          li{
            float: none;
            margin: 0 auto 2px;
            width: auto;
            @extend .inactive_li;
/*            transition: all 0.05s linear 0s;
            -webkit-transition: all 0.05s linear 0s;*/
            a{
              display: inline-block;
            }  
            &.active-trail{
              @extend .active_li;
            } 
          }
        }
        &:hover{
          .nolink{
          } 
          ul li{
            @extend .active_li;
          }      
        }
      }
    }
  }
  .line-item-summary{
    text-align: center;
    .line-item-quantity{
      float: none;
      margin-top: 13px;
      @extend .normal_font_style;
    }
    .links li.last{
      padding: 0;
    }
  }
}

/*FOOTER*/
#footer{
    border: medium none;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: transparent;
    text-align: center;
    text-align: -webkit-center;
    padding: 0;
    a{
      position: relative;
      margin: -40px auto 0;
      display: block;
      width: 30px;
    }
    a:hover{
      border: none;
    }
    img{
      width: 30px;
    }
}

/*SECONDARY MENU*/
#absolute_right{
  position: fixed;
  right: 28px;
  top: 50%;
  width: 0;
  @extend .normal_font_style;
	-moz-transform: scale(1) rotate(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  .block-menu .content{
    width: 0;
  }
  ul{
    display: inline-block;
    width: 412px;
    margin-left: -200px;
    text-align: center;
    text-align: -webkit-center;
    li{
      display: inline-block;
      margin: 0 20px;
    }
  }
}

/*BACK BUTTON*/
#absolute_left{
  left: 24px;
  position: fixed;
  top: 50%;

  a{
    display: inline-block;
    @extend .big_font_style;
    &:hover{
      border-bottom: 1px solid transparent;
    }
  }
  .back_arrow{
    display: block;
    line-height: 7px;
    margin-left: 15px;
  }
}


/* SHOP PAGES */
.page-shop-men, .page-shop-women{
  #main{
  padding: 120px 0 0; 
  .content{
      .views-row{
        display: inline-block;
        float: left;
        margin: 0 0 20px 0;
        .views-field-field-images-1{
          display: none;
        }
        .views-field-field-images, .views-field-field-images-1{
          height: 192px;
          width: 288px;
          position: relative;
          img{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 85%;
            margin-left: 7.5%;
            height: auto;
          }
        }
        .views-field-title{
          @extend .normal_font_style;
          margin-top: 14px;
          text-align: center;
        } 
        &:hover{
          .views-field-field-images-1{
            display: block;
          }
          .views-field-field-images{
            display: none;
          }
        }
        &:nth-child(3n+2){
          margin: 0 48px;
        }
      }
    }
  }
}

/* PRODUCT DISPLAY */
.node-type-product-display{
  #main .content{
    position: relative;
    article{
      padding-bottom: 30px;
      header, .field .field-label{
        display: none;
      }
      .left{
/*        #custom-pager{
          font-size: 34px;
          line-height: 34px;
          margin: 11px 0;
          a{
            display: inline-block;
            &:nth-child(2){
              margin: 0 13px;
            }
            &.cycle-pager-active{
              @extend .underline_big;
            }
          }
        }*/
        left: 0;
        position: fixed;
        top: 0;
        right: 0;
        overflow: auto;
        bottom: 0;
        .pics{
          padding-top: 120px;
          padding-bottom: 216px;
          height: 100%;
          min-height: 291px;
          @extend .centered_content;
          text-align: center;
          img{
            max-height: 100%;
            display: block;
            margin: 0 auto;
          }
        }
        .bottom_padding{
          width: 100%;
          min-height: 100px;
        }
      }
      .right{
        position: fixed;
        left: 0;
        bottom: 26px;
        width: 100%;
        min-width: $min_width;
        .right_inner{
          @extend .centered_content;
          border-top: 1px solid;
          padding-top: 15px;
          position: relative;
          .column{
            display: inline-block;
            &.first_column{
              width: 245px;
              float: left;
            }
            &.second_column{
              display: block;
              margin: 0 auto;
              width: 465px;
              height: 0;
            }
            &.third_column{
              width: 142px;
              float: right;
              .size_infos{
                margin-bottom: 12px;
                margin-top: 5px;
                position: absolute;
                right: -25px;
                top: 15px;
                a{
                  background: url("../../images/ui/info2.png") no-repeat scroll 0 0 #FFFFFF;
                  background-size: 16px; 
                  display: block;
                  height: 20px;
                  width: 20px;
                  &:hover{
                    border:none;
                  }
                }
              }
              .form-item, .form-actions{
                margin: 0;
              }
            }
          }
          .h2{
            margin: 11px 0;
          }
          .currency_select_menu li{
            display: inline-block;
            a{
              color: transparent;
              width: 27px;
              height: 16px;
              display: block;
              margin-right: 6px;
            }
            &.DKK a{
              background: url(../../images/flags/denmark.png);
            }
            &.EUR a{
              background: url(../../images/flags/europe.png);
              background: url(../../images/flags/europe2.png);
            }
            &.NOK a{
              background: url(../../images/flags/norway.png);
            }
            &.SEK a{
              background: url(../../images/flags/sweden.png);
            }
            &:hover{
              border: none;
            }
          }
          .field-type-commerce-product-reference{
            bottom: 0;
            right: 0;
            label{
              display: none;
            }
            .form-item-attributes-field-size{
              .form-item, label{
                display: inline-block;
                @extend .big_font_style;
                font-weight: normal;
              }
              #edit-attributes-field-size label{
                @extend .underline_big_hover;
              }
              .form-type-radio{
                label{
                  border-bottom: 1px solid transparent;
                  @extend .underline_big_hover;
                }
                margin: 5px 0 0 0;
                &:nth-child(3n + 2){
                  margin-left: 28px;
                  margin-right: 28px;
                }
                input[type="radio"]{
                  display: none;
                }
                input[type="radio"]:checked+label{
                  //text-decoration: underline; 
                  @extend .underline_big;
                }
                span.sold_out+label{
/*                    border-bottom: 1px solid;
                  line-height: 0;*/
                  border: none;
                  cursor: default;
                  text-decoration: line-through;
                }  
              }           
            } 
            input[type="submit"]{
              @extend .big_button;
              left: 383px;
              padding: 0;
              position: absolute;
              top: -70px;
              width: 240px;
            }
            .form-item-attributes-product-select{
              display: none;
            }
          }
        }
      }
    }
  }
}

/*COLLECTIONS*/
.page-node-4{
  #main{
    position: absolute;
    left: 0;
    padding-bottom: 100px;
    display: block;
    width: 100%;
  }
  #content-inner{
    padding: 0;
  }
  #content-area{
    text-align: center;
    img{
      margin: 24px;
      &:nth-child(1), &:nth-child(2){
        margin-top:0;
      }
    }
    .fullscreen_container .fullscreen {
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      font: 0/0 serif;
      text-shadow: none;
      color: transparent;
      background-size: 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
    .fullscreen_container .fullscreen .fullscreen_inner {
      padding-top: 77.35%; /* height/width of image */
      display: block;
      height: 0;
    }
    /* default screen, non-retina */
    .fullscreen_container .fullscreen { background-image: url(/drupal/sites/default/files/styles/width_1200/public/collections/ss13/Avvikk_1744.jpg); }
    .fullscreen_container .fullscreen.home_2 { background-image: url(/drupal/sites/default/files/styles/width_1200/public/collections/home/home_2.jpg); }
    .fullscreen_container .fullscreen.home_4 { background-image: url(/drupal/sites/default/files/styles/width_1200/public/collections/home/home_4.jpg); }
    .fullscreen_container .fullscreen.home_6 { background-image: url(/drupal/sites/default/files/styles/width_1200/public/collections/home/home_6.jpg); }

    @media only screen and (max-width: 320px) {
        .fullscreen_container .fullscreen { background-image: url(/drupal/sites/default/files/styles/width_768/public/collections/ss13/Avvikk_1744.jpg); }
        .fullscreen_container .fullscreen.home_2 { background-image: url(/drupal/sites/default/files/styles/width_768/public/collections/home/home_2.jpg); }
        .fullscreen_container .fullscreen.home_4 { background-image: url(/drupal/sites/default/files/styles/width_768/public/collections/home/home_4.jpg); }
        .fullscreen_container .fullscreen.home_6 { background-image: url(/drupal/sites/default/files/styles/width_768/public/collections/home/home_6.jpg); }
    }
    @media only screen and (min-width: 321px) and (max-width: 538px) {
        .fullscreen_container .fullscreen { background-image: url(/drupal/sites/default/files/styles/width_768/public/collections/ss13/Avvikk_1744.jpg); }
        .fullscreen_container .fullscreen.home_2 { background-image: url(/drupal/sites/default/files/styles/width_768/public/collections/home/home_2.jpg); }
        .fullscreen_container .fullscreen.home_4 { background-image: url(/drupal/sites/default/files/styles/width_768/public/collections/home/home_4.jpg); }
        .fullscreen_container .fullscreen.home_6 { background-image: url(/drupal/sites/default/files/styles/width_768/public/collections/home/home_6.jpg); }
    }
    @media only screen and (min-width: 539px) and (max-width: 1200px) {
        .fullscreen_container .fullscreen { background-image: url(/drupal/sites/default/files/styles/width_1200/public/collections/ss13/Avvikk_1744.jpg); }
        .fullscreen_container .fullscreen.home_2 { background-image: url(/drupal/sites/default/files/styles/width_1200/public/collections/home/home_2.jpg); }
        .fullscreen_container .fullscreen.home_4 { background-image: url(/drupal/sites/default/files/styles/width_1200/public/collections/home/home_4.jpg); }
        .fullscreen_container .fullscreen.home_6 { background-image: url(/drupal/sites/default/files/styles/width_1200/public/collections/home/home_6.jpg); }
    }
    @media only screen and (min-width: 1201px) and (max-width: 2000px) {
        .fullscreen_container .fullscreen { background-image: url(/drupal/sites/default/files/styles/width_2000/public/collections/ss13/Avvikk_1744.jpg); }
        .fullscreen_container .fullscreen.home_2 { background-image: url(/drupal/sites/default/files/styles/width_2000/public/collections/home/home_2.jpg); }
        .fullscreen_container .fullscreen.home_4 { background-image: url(/drupal/sites/default/files/styles/width_2000/public/collections/home/home_4.jpg); }
        .fullscreen_container .fullscreen.home_6 { background-image: url(/drupal/sites/default/files/styles/width_2000/public/collections/home/home_6.jpg); }
    }
    @media only screen and (min-width: 2000px){
        .fullscreen_container .fullscreen { background-image: url(/drupal/sites/default/files/collections/ss13/Avvikk_1744.jpg); }
        .fullscreen_container .fullscreen.home_2 { background-image: url(/drupal/sites/default/files/collections/home/home_2.jpg); }
        .fullscreen_container .fullscreen.home_4 { background-image: url(/drupal/sites/default/files/collections/home/home_4.jpg); }
        .fullscreen_container .fullscreen.home_6 { background-image: url(/drupal/sites/default/files/collections/home/home_6.jpg); }
    }
  }
}

.page-node-3{
  @extend .page-node-4;
  #main{
    position: absolute;
    left: 0;
  }
  #content-inner{
    padding: 0;
  }
  #content-area{
    text-align: center;
    img{
      margin: 0 24px 48px;
    }
    .fullscreen_container .fullscreen {
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      font: 0/0 serif;
      text-shadow: none;
      color: transparent;
      background-size: 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
    .fullscreen_container .fullscreen .fullscreen_inner {
      padding-top: 63.35%; /* height/width of image */
      display: block;
      height: 0;
    }
    /* default screen, non-retina */
    .fullscreen_container .fullscreen { background-image: url(/drupal/sites/default/files/styles/width_1200/public/collections/aw13/AVVIKK_AW138.jpg); }

    @media only screen and (max-width: 320px) {
        /* Small screen, non-retina */
        .fullscreen_container .fullscreen { background-image: url(/drupal/sites/default/files/styles/width_768/public/collections/aw13/AVVIKK_AW138.jpg); }
    }
    @media only screen and (min-width: 321px) and (max-width: 538px) {
        /* Medium screen, non-retina */
        .fullscreen_container .fullscreen { background-image: url(/drupal/sites/default/files/styles/width_768/public/collections/aw13/AVVIKK_AW138.jpg); }
    }
    @media only screen and (min-width: 539px) and (max-width: 1200px) {
        /* Normal screen, non-retina */
        .fullscreen_container .fullscreen { background-image: url(/drupal/sites/default/files/styles/width_1200/public/collections/aw13/AVVIKK_AW138.jpg); }
    }
    @media only screen and (min-width: 1201px) and (max-width: 2000px) {
        /* Large screen, non-retina */
        .fullscreen_container .fullscreen { background-image: url(/drupal/sites/default/files/styles/width_2000/public/collections/aw13/AVVIKK_AW138.jpg); }
    }
    @media only screen and (min-width: 2000px){
        /* Larger screen, non-retina */
        .fullscreen_container .fullscreen { background-image: url(/drupal/sites/default/files/collections/aw13/AVVIKK_AW138.jpg); }
    }
  }
}


/*FRONTPAGE*/
body.front{
  @extend .page-node-4;
  text-align: center;
  .home_overlay{
    position: fixed;
    width: 100%;
    text-transform: uppercase;
    .home_overlay_inner{
      margin: 125px auto;
      width: 700px;
    }
  }
}

/*CART REVIEW*/
.view-commerce-cart-form{
  @extend .normal_font_style;
  position: relative;
  .views-table{
    width: 100%;
   th{
      border-bottom: 1px solid #000000;
      @extend .big_font_style;
      padding-bottom: 8px;
      &:nth-child(1){
        width: 436px;
      }
      &:nth-child(2){
        padding-right: 0;
        padding-left: 0;
      }
      &:nth-child(3){
        width: 127px;
        width: 149px;
      }
    }  
    tbody{
      border: none;
      margin-top: 40px;
    } 
    tr.even, tr.odd{
      background-color: transparent;
      border: none;
    }
    tr.even td, tr.odd td{
      padding: 19px 0 7px 0;
      border-bottom: 1px solid #000000;
      .entity-commerce-product{
        .content{
          margin-top: 7px;
          .field-name-commerce-price-nok,
          .field-name-commerce-price-sek{
            display: none;
          }
        }
      }

    }
    h2, &, table{
      @extend .big_font_style;
    }
    .views-field-edit-quantity .form-type-textfield, .delete_container{
      display: inline-block;
      @extend .big_font_style;
      position: relative;
      &:before { 
        content: "(";
        position: absolute;
        left: -8px;
        top: 1px;
      }
      &:after { 
        content:")";
        position: absolute;
        right: -5px;
        top: 1px;
      }
      input{
        border: 1px transparent;
        background-color: transparent;
        padding: 0;
        text-transform: lowercase;
        @extend .big_font_style;
      }
    }
    .form-type-textfield{
      width: 20px; 
      margin-left: 9px;
      input{
        width: 11px;
      }
    }
    .delete_container{
      width: 91px; 
      margin-left: 6px;
      position: absolute;
      right: 0;
    }
    .views-field-commerce-product a{
      cursor: default;
      &:hover{
        border: none;
      }
    }
  }
  .commerce-line-item-actions{
    bottom: 7px;
    float: right;
    height: 67px;
    position: absolute;
    right: 0;
    text-align: right;
    input{
      @extend .big_button;
      width: 175px;
      height: 100%;
      &#edit-submit{
        display: none;
      }
    }
  }
  #commerce-paypal-ec-order-form{
    display: none;
  }
  
  .line-item-summary{
    margin-top: 2px;
    text-align: left;
    padding-left: 436px;
    border-top: 1px solid;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 4px double;
    @extend .big_font_style; 
    .line-item-total-label{
      font-weight: normal;
    }
    .line-item-total-raw{
      margin-top: 20px;
    }
  }
}

/*SHIPPING INFOS*/
#commerce-checkout-form-checkout, #commerce-checkout-form-shipping{
  fieldset{
    margin-bottom: 23px;
  }
  fieldset#edit-cart-contents{
    display: none;
  }
  input[type="text"]{
    width: 438px;
    font-family: 'grotesque_mt_stdregular';
    &#edit-customer-profile-shipping-commerce-customer-address-und-0-locality,
    &#edit-customer-profile-billing-commerce-customer-address-und-0-locality,
    &.locality{
      width: 334px; 
    }
  }
  legend{
    @extend .big_font_style;
    width: 100%;
    border-bottom: 1px solid;
    padding-bottom: 7px;
  }
  .form-item, .form-actions{
    margin: 10px 0 0;
    display: inline-block;
    &.form-item-customer-profile-shipping-commerce-customer-address-und-0-postal-code,
    &.form-item-customer-profile-billing-commerce-customer-address-und-0-postal-code,
    &.postal-code{
      margin-right: 14px;
    }
    &.form-type-select{
      p{
        margin: 0;
      }
    }
  }
  label{
    font-weight: normal;
    margin-bottom: 7px;
    @extend .normal_font_style;
    em{
      font-style: normal;
    }
  }
  .field-type-addressfield{
    padding-right: 130px;
  }
  #edit-customer-profile-billing{
  }
  #edit-buttons{
    margin-top: 40px;
    margin-bottom: 30px;
    input[type="submit"]{
      @extend .big_button;
      float: left;
      &#edit-cancel, &#edit-back{
/*        display: inline-block;
        float: left;
        @extend .normal_font_style;
        height: 30px;
        margin-left: 60px;
        margin-top: 20px;
        width: 100px; */
        @extend #absolute_left;
        background: url("../../images/ui/back_pfeil.png") no-repeat scroll 19px 25px #FFFFFF;
        border: medium none;
        height: auto;
        margin: 13px 0 0;
        padding: 0 0 10px;
      }
    }
    .button-operator{
      margin: 0 10px;
      display: none;
    }
  }
  input[type="text"]{
    border: 1px solid;
    padding: 2px;
    &#edit-customer-profile-shipping-commerce-customer-address-und-0-postal-code,
    &#edit-customer-profile-billing-commerce-customer-address-und-0-postal-code,
    &.postal-code{
      width: 90px;
    }
  }
  .styled-select select {
   background: transparent;
   padding: 2px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   -webkit-appearance: none;
   width: 338px;
   }
  .styled-select {
    background: url("../../images/ui/drop_down_country_arrow.png") no-repeat scroll 306px center #FFFFFF;
    border: 1px solid #000000;
    overflow: hidden;
    width: 324px;
   }
  #commerce-shipping-service-ajax-wrapper{
    display: none;
  } 
}

/* CHECKOUT */
#commerce-checkout-form-review{
  // @extend .view-commerce-cart-form;
  @extend #commerce-checkout-form-checkout;
  @extend .normal_font_style;
  .pane-data:nth-child(1){
  @extend .big_font_style;
  }
  .pane-data:nth-child(2){
  @extend .big_font_style;
  }
  .checkout-help{
    @extend .bigger_font_size;
    margin-bottom: 76px;
  }
  th{
    border-bottom: 1px solid #000000;
    @extend .big_font_style;
    padding-bottom: 10px;
  }
  tbody{
    border-top: none;
  }
  tr.even, tr.odd{
    background-color: transparent;
    border: none;
    &.pane-title, &.pane-data{
      margin: 10px 0 0;
      padding: 0;
      width: 100%;
    }
    &.pane-data{
      margin: 0 0 10px;
    }
  }

  .pane-data-full{
    padding-left: 0;
    label{
      font-weight: normal;
    }
  }
  tr.even td, tr.odd td{
    padding: 10px 0 5px;
    border: none;
  }
  tr.pane-title.even td, tr.pane-title.odd td{
    @extend .big_font_style;
    padding: 40px 0 7px;
  }

  tr.pane-title.odd:nth-child(3) td{
    padding-top: 60px; 
  }
  tr.pane-data:nth-child(4) .form-type-item{
    margin: 0; 
    label{
      margin: 0;
    }
  }

  tr.pane-title.odd:nth-child(1){
    display: none;
  }
  tr.pane-data.even:nth-child(2){
    padding-bottom: 36px;
  }
  tr.pane-data.even td, tr.pane-data.odd td{
    padding: 0;
    table{
      width: 100%;
     th{
        border-bottom: 1px solid #000000;
        @extend .big_font_style;
        padding-bottom: 14px;
        &:nth-child(1){
          padding-right: 0;
          width: 323px;
        }
        &:nth-child(2){
          padding-right: 0;
          width: 300;
        }
        &:nth-child(3){
          width: 200;
        }
        &:nth-child(4){
          width: 73px;
          padding-right: 0;
          text-align: left;
          width: 89px;
          width: 116px;
          padding-left: 20px;
        }
      } 
      tr.even td, tr.odd td{
        padding:14px 0 14px;
        &:nth-child(3){
          text-align: left;
          padding-right: 137px;
        }
        &:nth-child(4){
          text-align: right;
        }
      }
    }
  }
  .commerce-order-handler-area-order-total .commerce-price-formatted-components{
    width: 100%;
    tbody{
      border-top: 1px solid black;
    }
    tr{
      &.component-type-commerce-price-formatted-amount{
        .component-total{
          @extend .big_font_style;
        }
      }
      td.component-title{
        padding-left: 563px !important;
        @extend .big_font_style;
      }
      td.component-total{
        text-align: right;
        width: 136px;
        width: 156px;
        width: 170px;
      }
    }
  }
  .commerce-order-handler-area-order-total .commerce-price-formatted-components tr.component-type-commerce-price-formatted-amount{
    font-weight: normal;
    border-top: 4px double;
    border-bottom : 4px double;
    &.component-type-commerce-price-formatted-amount .component-title{
      text-transform: uppercase;
      padding-bottom: 16px;
    }
  }
  #edit-commerce-payment{
    margin-top: 40px;
    .messages.warning{
      display: none;
    }
  }
  .paypal_only h2{
    background: url("../../images/ui/checkbox.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 20px;
    padding-left: 34px;
  }
  #edit-continue{
    width: 175px;
    padding: 0;
  }
  #edit-extra-pane-node-15{
    margin-top: 40px;
    position: relative;
    width: 373px;
    legend{
      border: medium none;
      display: inline-block;
      width: auto;
      @extend .normal_font_style;
      float: right;
      a{
        @extend .underline_normal;
      }
      span{
        display: block;
        width: 338px;
      }
    }
    .fieldset-wrapper{
      display: inline-block;
      float: left;
      width: 19px;
      .form-type-checkbox{
        margin: 0;
      }
      label{
        height: 20px;
        padding-left: 20px;
        overflow: hidden;
        width: 0;
      }
      article{
        display: none;
      }  
      .messages.error{
        position: absolute;
        top: -34px;
        left: 0;
        width: 100%;
      }    
    }
  }
  #edit-commerce-payment-payment-method{
    display: none;
  }
}

/*CHECKOUT COMPLETE*/
.page-checkout-complete{
  @extend .big_font_style;
  .checkout-completion-message{
    .thank_you{
      display: inline-block;
      font-size: 28px;
      margin-bottom: 20px;

    }  
    a{
      display: inline-block;
      margin-top: 20px;
      &:hover{
        border: none;
      }
      &:after{
        content: "←";
        display: block;
        line-height: 10px;
      }
    }  
  }
  
}

/*BUEDITOR BODY*/
.bueditor_body{
  h1, h2, h3, h4, h5{
    @extend .h2;
    margin-bottom: 27px;
  }
  p, a{
    line-height: 1.35em;
  }
  a{
      text-decoration: underline;
      &:hover{
        border: none;
      }
  }    
} 


/*STATIC PAGES*/
.page-node-5, .page-node-6, .page-press, .page-node-20, .page-node-15, .page-node-16, .page-node-43 {
  .field-name-body, .views-field-body{
    @extend .bueditor_body;
  }
}
.page-node-6, .page-node-20, .page-node-15, .page-node-16  {
  .field-name-body{
    padding-left: 437px;
  }
}
.page-node-5, .page-node-43  {
  .field-name-body{
    padding-right: 437px;
  }
}
.page-node-6, .page-press {
  .field-name-body, .views-field-body{
  }
}

/*PRESS PAGE*/
.page-press{
  background-color: #FDFE57;
  ::selection {
    background: #FFCC00; /* Safari */
    }
  ::-moz-selection {
    background: #FFCC00; /* Firefox */
  }
  #header, #absolute_right{
    // color: #E9E948;
    li a.active, a, a:hover, a:active, a:visited{
      // color: #E9E948;
    }
  }
  #footer{
    display: none;
  }
  .views-row{
    margin-bottom: 200px;
    .views-field-created{
      @extend .big_font_style;
    }
    .views-field-body{
      width: 580px; 
      h1, h2, h3, h4, h5{
        @extend .big_font_style;
        padding: 0;
      }
      img{
        max-width: 580px;
      }
    }
  }
}

/*SIZE INFOS*/
.page-node-14{
  table{
    border: 1px solid;
    tr{

    }
    td{
      border: 1px solid black; 
      text-align: center;
      padding: 14px 0;
    }
    th{
      border: none;
      text-align: center;
      font-weight: normal;
    }
    .first_header{
      th{
        padding: 20px 0;
        border-top: 1px solid;
        border-right: 1px solid;
        @extend .big_font_style;
      }
    }
    .second_header{
      th{
        padding: 0 0 10px;
        width: 12.5%;
        &:nth-child(2n){
          border-right: 1px solid;

        }
      }
    }
  }
  .size_note{
    @extend .big_font_style;
    margin-top: 19px;
    p{
      margin-top: 8px;
      margin-bottom: 0;
    }
  }
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
  
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  @import "mobile";
  
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  
}