////////////////////////////////////////////////////////////////////////////////
// Page Styling
// --------------------
// This file combines all partials into one main style sheet, to be loaded on 
// all pages.
////////////////////////////////////////////////////////////////////////////////

@import "vars"; // Imports default variables and mixins.
@import "layout";   // Defines positioning of major page elements.
@import "base";     // Establishes general color and typography rules and browser resets.
@import "document"; // Default content styles.
@import "modules";   // Defines module styles.
//@import "mobile";   // We can now define our mobile styles inline
@import "print";    // Defines styles for printing.


/* FONTS */
@font-face {
    font-family: 'grotesque_mt_stdregular';
    src: url('../../fonts/grotesquemtstd-webfont.eot');
    src: url('../../fonts/grotesquemtstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/grotesquemtstd-webfont.woff') format('woff'),
         url('../../fonts/grotesquemtstd-webfont.ttf') format('truetype'),
         url('../../fonts/grotesquemtstd-webfont.svg#grotesque_mt_stdregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*VARIABLES*/
$body_padding: 24px;
$main_menu_font_size: 21px;
$main_menu_letter_spacing: 5px;
$sub_menu_font_size: 14px;


/*OVERWRITE*/
ul, li,
ul li.leaf, 
ul li.expanded{
	list-style: none;
	margin: 0;
	padding: 0;
}
a, a:hover, a:active, a:visited{
	color:black;
	text-decoration: none;	
}
h1, .h1{
  font-size: 45px;
  font-weight: normal;
  line-height: 4.2rem;
}
h2, .h2{
  font-size: 21px;
  font-weight: normal;
  line-height: 2rem;
  margin: 0;
}
/* HELPERS */
.centered_content{
  width: 960px;
  margin: 0 auto;
}
.centered_content_1200{
  width: 1200px;
  margin: 0 auto;
}
.left{
  float: left;
}
.right{
  float: right;
}
.big_button{
  background-color: #FFFFFF;
  border: 1px solid;
  font-size: 45px;
  padding: 0;
  width: 240px;
  font-size: 21px;
  height: 50px;
  color: black;
  &:hover{
    text-decoration: none;
  }
}



/*MAIN*/
body{
  font-family: 'grotesque_mt_stdregular';
}
#page{
  // width: auto;
  @extend .centered_content;
}
#main{
	padding-top: 120px;
}
div.error{
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
    color: #FF0000;
    padding: 0;
    ul{
      margin: 0;
    }
}
.inner{
  padding: 0;
}

/*HEADER*/
#header{
  background: transparent;
  float: left;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: $body_padding;
  border: none;
  .block,
  .menu li{
	   display: inline-block;
	   float: left;
	}
  .block .view-content{
  	 display: none;
  }
  .block-views{
  	position: absolute;
  	top: 24px;
  	left:  24px;
  	.links{
    	font-size: $main_menu_font_size;
      letter-spacing: $main_menu_letter_spacing;
  	}
  }
  #block-system-main-menu{
  	width:100%;
  	li{
      text-align: center;
      width: 33%;
      font-size: $sub_menu_font_size;
    }
    ul{
      li{
        .nolink{
          cursor: pointer;
          font-size: $main_menu_font_size;
          letter-spacing: $main_menu_letter_spacing;
          display: inline-block;
          width: 100%;
          position: relative;
          &.active-trail{
            text-decoration: underline;
          }
        }
      } 
      li.expanded {
        ul{
          font-size: 19px;
          padding-top: 14px;
          li{
            float: none;
            margin: 0 auto -10px;
            width: auto;
            // display: none;
            height: 0;
            overflow: hidden;
            display: block;
            transition: all 0.4s linear 0s;
            -webkit-transition: all 0.4s linear 0s;
            a{
              display: inline-block;
            }  
            &.active-trail{
              // display: block;
            height: 30px;
            } 
          }
        }
        &.clicked{
          .nolink{
            text-decoration: underline;
          } 
          ul li{
            // display: block;
            height: 30px;
          }      
        }
      }
    }
  }
  .line-item-summary{
    text-align: center;
    .line-item-quantity{
      float: none;
      font-size: $sub_menu_font_size;
    }
    .links li.last{
      padding: 0;
    }
  }
}

/*FOOTER*/
#footer{
    border: medium none;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: transparent;
    text-align: center;
}

/*SECONDARY MENU*/
#absolute_right{
  position: fixed;
  right: 28px;
  top: 50%;
  font-size:14px;
	-moz-transform: scale(1) rotate(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  .block-menu .content{
    width: 0;
  }
  ul{
    display: inline-block;
    width: 400px;
    margin-left: -200px;
    text-align: center;
    li{
      display: inline-block;
      margin: 0 20px;
    }
  }
}
  

/* SHOP PAGES */
.page-shop-men, .page-shop-women{
  #main{
  padding: 120px 0 0; 
  .content{
      .views-row{
        display: inline-block;
        float: left;
        margin: 0 0 20px 0;
        .views-field-field-images-1{
          display: none;
        }
        .views-field-title{
          font-size: 14px;
          margin-top: 14px;
          text-align: center;
        } 
        &:hover{
          .views-field-field-images-1{
            display: block;
          }
          .views-field-field-images{
            display: none;
          }
        }
        &:nth-child(3n+2){
          margin-left:30px;
          margin-right:30px;
        }
      }
    }
  }
}

/* PRODUCT DISPLAY */
.node-type-product-display{
  #main .content{
    position: relative;
    article{
      padding-bottom: 30px;
      header, .field .field-label{
        display: none;
      }
      .left{
        width: 624px;
        #custom-pager{
          font-size: 34px;
          line-height: 34px;
          margin: 11px 0;
          a{
            display: inline-block;
            &:nth-child(2){
              margin: 0 7px;
            }
            &.cycle-pager-active{
              text-decoration: underline;
            }
          }
        }
      }
      .right{
        .ajax-progress {
          display:none;
        }
        position: absolute;
        right: 0;
        top: 0;
        height: 416px;
        width: 240px;
        .h2{
          margin: 11px 0;
        }
        .currency_select_menu li{
          display: inline-block;
          a{
            color: transparent;
            width: 20px;
            height: 11px;
            display: block;
            margin-right: 10px;
          }
          &.DKK a{
            background: url(../../images/flags/denmark.png);
          }
          &.EUR a{
            background: url(../../images/flags/europe.png);
          }
        }
        .field-type-commerce-product-reference{
          position: absolute;
          bottom: 0;
          right: 0;
          label{
            display: none;
          }
          .form-item-attributes-field-size{
            .form-item, label{
                  display: inline-block;
                  font-size: 21px;
                  font-weight: normal;
            }
              .form-type-radio{
                margin: 6px 10px 0;
                &:nth-child(5n + 1){
                  margin-left: 0;
                }
                input[type="radio"]{
                  display: none;
                }
                input[type="radio"]:checked+label{
                  text-decoration: underline;
                }
                span.sold_out+label{
                  color: grey;
                  cursor: default;
                }  
              }            
          }
          input[type="submit"]{
            @extend .big_button;
            margin-top: 120px;
          }
        }
      }
    }
  }
}

/*COLLECTIONS*/
.page-node-4{
  #main{
    position: absolute;
    left: 0;
    padding-bottom: 100px;
    display: block;
  }
  #content-inner{
    padding: 0;
  }
  #content-area{
    text-align: center;
    img{
      margin: 24px;
      &:nth-child(1), &:nth-child(2){
        margin-top:0;
      }
    }
    .fullscreen_container .fullscreen {
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      font: 0/0 serif;
      text-shadow: none;
      color: transparent;
      background-size: 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
    .fullscreen_container .fullscreen .fullscreen_inner {
      padding-top: 63.35%; /* height/width of image */
      display: block;
      height: 0;
    }
    /* default screen, non-retina */
    .fullscreen_container .fullscreen { background-image: url(/sites/default/files/styles/width_1200/public/collections/ss13/Avvikk_1744.jpg); }

    @media only screen and (max-width: 320px) {
        /* Small screen, non-retina */
        .fullscreen_container .fullscreen { background-image: url(/sites/default/files/styles/width_768/public/collections/ss13/Avvikk_1744.jpg); }
    }
    @media only screen and (min-width: 321px) and (max-width: 538px) {
        /* Medium screen, non-retina */
        .fullscreen_container .fullscreen { background-image: url(/sites/default/files/styles/width_768/public/collections/ss13/Avvikk_1744.jpg); }
    }
    @media only screen and (min-width: 539px) and (max-width: 1200px) {
        /* Normal screen, non-retina */
        .fullscreen_container .fullscreen { background-image: url(/sites/default/files/styles/width_1200/public/collections/ss13/Avvikk_1744.jpg); }
    }
    @media only screen and (min-width: 1201px) and (max-width: 2000px) {
        /* Large screen, non-retina */
        .fullscreen_container .fullscreen { background-image: url(/sites/default/files/styles/width_2000/public/collections/ss13/Avvikk_1744.jpg); }
    }
    @media only screen and (min-width: 2000px){
        /* Larger screen, non-retina */
        .fullscreen_container .fullscreen { background-image: url(/sites/default/files/collections/ss13/Avvikk_1744.jpg); }
    }
  }
}

.page-node-3{
  @extend .page-node-4;
  #main{
    position: absolute;
    left: 0;
  }
  #content-inner{
    padding: 0;
  }
  #content-area{
    text-align: center;
    img{
      margin: 0;
      &:nth-child(1){
    float: left;
    margin-left: 48px;
    margin-bottom: 48px;
      }
      &:nth-child(2){
    float: right;
    margin-bottom: 48px;
    margin-right: 24px;
    margin-top: 146px;
      }
      &:nth-child(5){
    float: left;
    margin-left: 24px;
    margin-top: 48px;
      }
      &:nth-child(6){
    float: right;
    margin: 48px;
      }
      &:nth-child(8){
    float: left;
    margin: 48px;
      }
      &:nth-child(9){
    float: right;
    margin: 48px;
      }
    }
    .fullscreen_container .fullscreen {
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      font: 0/0 serif;
      text-shadow: none;
      color: transparent;
      background-size: 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
    .fullscreen_container .fullscreen .fullscreen_inner {
      padding-top: 63.35%; /* height/width of image */
      display: block;
      height: 0;
    }
    /* default screen, non-retina */
    .fullscreen_container .fullscreen { background-image: url(/sites/default/files/styles/width_1200/public/collections/aw13/AVVIKK_AW138.jpg); }

    @media only screen and (max-width: 320px) {
        /* Small screen, non-retina */
        .fullscreen_container .fullscreen { background-image: url(/sites/default/files/styles/width_768/public/collections/aw13/AVVIKK_AW138.jpg); }
    }
    @media only screen and (min-width: 321px) and (max-width: 538px) {
        /* Medium screen, non-retina */
        .fullscreen_container .fullscreen { background-image: url(/sites/default/files/styles/width_768/public/collections/aw13/AVVIKK_AW138.jpg); }
    }
    @media only screen and (min-width: 539px) and (max-width: 1200px) {
        /* Normal screen, non-retina */
        .fullscreen_container .fullscreen { background-image: url(/sites/default/files/styles/width_1200/public/collections/aw13/AVVIKK_AW138.jpg); }
    }
    @media only screen and (min-width: 1201px) and (max-width: 2000px) {
        /* Large screen, non-retina */
        .fullscreen_container .fullscreen { background-image: url(/sites/default/files/styles/width_2000/public/collections/aw13/AVVIKK_AW138.jpg); }
    }
    @media only screen and (min-width: 2000px){
        /* Larger screen, non-retina */
        .fullscreen_container .fullscreen { background-image: url(/sites/default/files/collections/aw13/AVVIKK_AW138.jpg); }
    }
  }
}


/*FRONTPAGE*/
body.front{
  @extend .page-node-4;
  text-align: center;
  .home_overlay{
    margin: 125px calc((100% - 700px) / 2);
    width: 700px;
    position: fixed;
  }
}

/*CHECKOUT*/
.view-commerce-cart-form{
  font-size: 14px;
  position: relative;
  .views-table{
    width: 100%;
   th{
      font-weight: normal;
      border-bottom: 1px solid #000000;
      font-size: 21px;
      padding-bottom: 10px;
      &:nth-child(2){
        padding-right: 69px;
      }
      &:nth-child(3){
        width: 127px;
      }
    }  
    tbody{
      border: none;
      margin-top: 40px;
    } 
    tr.even, tr.odd{
      background-color: transparent;
      border: none;
    }
    tr.even td, tr.odd td{
      padding: 20px 0 10px;
      border-bottom: 1px solid #000000;
    }
    h2, &{
      font-size: 14px;
    }
    .views-field-edit-quantity .form-type-textfield, .delete_container{
      display: inline-block;
      &:before { 
        content:"(";
      }
      &:after { 
        content:")";
      }
      input{
        border: 1px transparent;
        background-color: transparent;
        font-size: 14px;
        &[type="text"]{
          width: 11px;
        }
      }
    }
  }
  .commerce-line-item-actions{
    bottom: 0;
    float: right;
    position: absolute;
    right: 0;
    text-align: right;
    input{
      @extend .big_button;
      &#edit-submit{
        display: none;
      }
    }
  }
  #commerce-paypal-ec-order-form{
    display: none;
  }
  
  .line-item-summary{
    margin-top: 20px;
    text-align: center;
    .line-item-total-label{
      font-weight: normal;
      font-size: 21px; 
    }
    .line-item-total-raw{
      margin-top: 20px;
    }
  }
}

/*SHIPPING INFOS*/
#commerce-checkout-form-checkout, #commerce-checkout-form-shipping{
  fieldset#edit-cart-contents{
    display: none;
  }
  legend{
    font-size: 21px;
  }
  label{
    font-weight: normal;
    font-size: 14px;
    em{
      font-style: normal;
    }
  }
  #edit-customer-profile-billing{
  }
  #edit-buttons{
    margin-top: 20px;
    margin-bottom: 30px;
    input[type="submit"]{
      @extend .big_button;
      float: left;
      &#edit-cancel, &#edit-back{
        display: inline-block;
        float: left;
        font-size: 14px;
        height: 30px;
        margin-left: 60px;
        margin-top: 20px;
        width: 100px; 
      }
    }
    .button-operator{
      margin: 0 10px;
      display: none;
    }
  }
  input[type="text"]{
    border: 1px solid;
    padding: 2px;
    &#edit-customer-profile-shipping-commerce-customer-address-und-0-postal-code{
      width: 90px;
    }
  }
}

/*REVIEW DETAILS*/
#commerce-checkout-form-review{
  // @extend .view-commerce-cart-form;
  @extend #commerce-checkout-form-checkout;
  font-size: 14px;
  .checkout-help{
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 20px;
  }
  th{
    border-bottom: 1px solid #000000;
    font-size: 21px;
    font-weight: normal;
    padding-bottom: 10px;
  }
  tbody{
    border-top: none;
  }
  tr.even, tr.odd{
    background-color: transparent;
    border: none;
    &.pane-title, &.pane-data{
      margin: 10px 0 0;
      padding: 0;
      width: 100%;
    }
    &.pane-data{
      margin: 0 0 10px;
    }
  }

  .pane-data-full{
    padding-left: 0;
    label{
      font-weight: normal;
    }
  }
  tr.even td, tr.odd td{
    padding: 10px 0 5px;
    border: none;
  }
  tr.pane-title.even td, tr.pane-title.odd td{
    font-weight: normal;
    font-size: 21px;
    padding: 20px 0 0;
  }
  tr.pane-title.odd:nth-child(1){
    display: none;
  }
  tr.pane-data.even td, tr.pane-data.odd td{
    padding: 0;
    table{
      width: 100%;
     th{
        font-weight: normal;
        border-bottom: 1px solid #000000;
        font-size: 21px;
        padding-bottom: 10px;
        &:nth-child(2){
          padding-right: 69px;
        }
        &:nth-child(3){
          width: 127px;
        }
      } 
      tr.even td, tr.odd td{
        padding:10px 0 5px;
      }
    }
  }
  .commerce-order-handler-area-order-total .commerce-price-formatted-components{
    width: 100%;
    tbody{
      border-top: 1px solid black;
    }
    tr{
      &.component-type-commerce-price-formatted-amount{
        .component-total{
          font-size: 21px;
        }
      }
      td.component-title{
        padding-left: 620px !important;
        font-size: 21px;
      }
    }
  }
  .commerce-order-handler-area-order-total .commerce-price-formatted-components tr.component-type-commerce-price-formatted-amount{
    font-weight: normal;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  #edit-commerce-payment{
    margin-top: 20px;
  }
}

/*CHECKOUT COMPLETE*/
.page-checkout-complete{
  font-size: 21px;
  .checkout-completion-message{
    .thank_you{
      display: inline-block;
      font-size: 28px;
      margin-bottom: 20px;

    }  
    a{
      background: url("../../images/ui/back_pfeil.png") no-repeat scroll 0 21px rgba(0, 0, 0, 0);
      display: inline-block;
      margin-top: 20px;
      padding-bottom: 10px;
    }  
  }
  
}

@media only screen and (max-device-width: 480px) {
  @import "mobile";    // Defines styles for mobiles.
}