////////////////////////////////////////////////////////////////////////////////
// Page Styling
// --------------------
// This file combines all partials into one main style sheet, to be loaded on 
// all pages.
////////////////////////////////////////////////////////////////////////////////

@import "vars"; // Imports default variables and mixins.
@import "layout";   // Defines positioning of major page elements.
@import "base";     // Establishes general color and typography rules and browser resets.
@import "document"; // Default content styles.
@import "modules";   // Defines module styles.
//@import "mobile";   // We can now define our mobile styles inline
@import "print";    // Defines styles for printing.


/* FONTS */
@font-face {
    font-family: 'grotesque_mt_stdregular';
    src: url('../../fonts/grotesquemtstd-webfont.eot');
    src: url('../../fonts/grotesquemtstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/grotesquemtstd-webfont.woff') format('woff'),
         url('../../fonts/grotesquemtstd-webfont.ttf') format('truetype'),
         url('../../fonts/grotesquemtstd-webfont.svg#grotesque_mt_stdregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*VARIABLES*/
$body_padding: 24px;
$main_menu_font_size: 21px;
$main_menu_letter_spacing: 5px;
$sub_menu_font_size: 14px;


/*OVERWRITE*/
ul, li,
ul li.leaf, 
ul li.expanded{
	list-style: none;
	margin: 0;
	padding: 0;
}
a, a:hover, a:active, a:visited{
	color:black;
	text-decoration: none;	
}
h1, .h1{
  font-size: 45px;
  font-weight: normal;
  line-height: 4.2rem;
}
h2, .h2{
  font-size: 21px;
  font-weight: normal;
  line-height: 2rem;
  margin: 0;
}
/* HELPERS */
.centered_content{
  width: 1200px;
  margin: 0 auto;
}
.centered_content_960{
  width: 960px;
  margin: 0 auto;
}
.left{
  float: left;
}
.right{
  float: right;
}



/*MAIN*/
body{
  font-family: 'grotesque_mt_stdregular';
}
#page{
  // width: auto;
  @extend .centered_content;
}
#main{
	padding-top: 120px;
}

/*HEADER*/
#header{
  background: transparent;
  float: left;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: $body_padding;
  border: none;
  .block,
  .menu li{
	   display: inline-block;
	   float: left;
	}
  .block .view-content{
  	 display: none;
  }
  .block-views{
  	position: absolute;
  	top: 24px;
  	left:  24px;
  	.links{
    	font-size: $main_menu_font_size;
      letter-spacing: $main_menu_letter_spacing;
  	}
  }
  #block-system-main-menu{
  	width:100%;
  	li{
      text-align: center;
      width: 33%;
      font-size: $sub_menu_font_size;
    }
    ul{
      li{
        .nolink{
          cursor: pointer;
          font-size: $main_menu_font_size;
          letter-spacing: $main_menu_letter_spacing;
          display: inline-block;
          width: 100%;
          position: relative;
          &.active-trail{
            text-decoration: underline;
          }
        }
      } 
      li.expanded {
        ul{
          font-size: 19px;
          padding-top: 14px;
          li{
            float: none;
            margin: 0 auto -10px;
            width: auto;
            // display: none;
            height: 0;
            overflow: hidden;
            display: block;
            transition: all 0.4s linear 0s;
            -webkit-transition: all 0.4s linear 0s;
            a{
              display: inline-block;
            }  
            &.active-trail{
              // display: block;
            height: 30px;
            } 
          }
        }
        &.clicked{
          .nolink{
            text-decoration: underline;
          } 
          ul li{
            // display: block;
            height: 30px;
          }      
        }
      }
    }
  }
  .line-item-summary{
    text-align: center;
    .line-item-quantity{
      float: none;
      font-size: $sub_menu_font_size;
    }
    .links li.last{
      padding: 0;
    }
  }
}




/*SECONDARY MENU*/
#absolute_right{
  position: fixed;
  right: 28px;
  top: 50%;
  font-size:14px;
	-moz-transform: scale(1) rotate(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  .block-menu .content{
    width: 0;
  }
  ul{
    display: inline-block;
    width: 400px;
    margin-left: -200px;
    text-align: center;
    li{
      display: inline-block;
      margin: 0 20px;
    }
  }
}
  

/* SHOP PAGES */
.page-shop-men, .page-shop-women{
  #main{
  padding: 120px 120px 0; 
  .content{
      .views-row{
        display: inline-block;
        float: left;
        margin: 0 0 20px 0;
        .views-field-field-images-1{
          display: none;
        }
        .views-field-title{
          font-size: 14px;
          margin-top: 14px;
          text-align: center;
        } 
        &:hover{
          .views-field-field-images-1{
            display: block;
          }
          .views-field-field-images{
            display: none;
          }
        }
        &:nth-child(3n+2){
          margin-left:30px;
          margin-right:30px;
        }
      }
    }
  }
}

/* PRODUCT DISPLAY */
.node-type-product-display{
  #main .content{
    position: relative;
    article{
      padding-bottom: 30px;
      header, .field .field-label{
        display: none;
      }
      .left{
        width: 624px;
        #custom-pager{
          font-size: 34px;
          line-height: 34px;
          margin: 11px 0;
          a{
            display: inline-block;
            &:nth-child(2){
              margin: 0 7px;
            }
            &.cycle-pager-active{
              text-decoration: underline;
            }
          }
        }
      }
      .right{
        .ajax-progress {
          display:none;
        }
        position: absolute;
        right: 0;
        top: 0;
        height: 416px;
        width: 240px;
        .h2{
          margin: 11px 0;
        }
        .currency_select_menu li{
          display: inline-block;
          a{
            color: transparent;
            width: 20px;
            height: 11px;
            display: block;
            margin-right: 10px;
          }
          &.DKK a{
            background: url(../../images/flags/denmark.png);
          }
          &.EUR a{
            background: url(../../images/flags/europe.png);
          }
        }
        .field-type-commerce-product-reference{
          position: absolute;
          bottom: 0;
          right: 0;
          label{
            display: none;
          }
          .form-item-attributes-field-size{
            .form-item, label{
                  display: inline-block;
                  font-size: 21px;
                  font-weight: normal;
            }
              .form-type-radio{
                margin: 6px 10px 0;
                &:nth-child(5n + 1){
                  margin-left: 0;
                }
                input[type="radio"]{
                  display: none;
                }
                input[type="radio"]:checked+label{
                  text-decoration: underline;
                }
                span.sold_out+label{
                  color: grey;
                  cursor: default;
                }  
              }            
          }
          input[type="submit"]{
            background-color: #FFFFFF;
            border: 1px solid;
            font-size: 45px;
            padding: 0;
            width: 240px;
            margin-top: 120px;
            font-size: 14px;
            height: 50px;
          }
        }
      }
    }
  }
}


/*FRONTPAGE*/
body.front{
  text-align: center;
  .home_overlay{
    margin-top:125px;
  }
}

/*COLLECTIONS*/
.page-node-4{
  #main{
    position: absolute;
    left: 0;
  }
  #content-inner{
    padding: 0;
  }
  #content-area{
    text-align: center;
    img{
      margin: 24px;
      &:nth-child(1), &:nth-child(2){
        margin-top:0;
      }
    }
    .fullscreen_container .fullscreen {
      width: 100%;
      display: inline-block;
      vertical-align: middle;
      font: 0/0 serif;
      text-shadow: none;
      color: transparent;
      background-size: 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
    .fullscreen_container .fullscreen .fullscreen_inner {
      padding-top: 63.35%; /* height/width of image */
      display: block;
      height: 0;
    }
    /* default screen, non-retina */
    .fullscreen_container .fullscreen { background-image: url(/sites/default/files/styles/width_1200/public/collections/ss13/Avvikk_1744.jpg); }

    @media only screen and (max-width: 320px) {
        /* Small screen, non-retina */
        .fullscreen_container .fullscreen { background-image: url(/sites/default/files/styles/width_768/public/collections/ss13/Avvikk_1744.jpg); }
    }
    @media only screen and (min-width: 321px) and (max-width: 538px) {
        /* Medium screen, non-retina */
        .fullscreen_container .fullscreen { background-image: url(/sites/default/files/styles/width_768/public/collections/ss13/Avvikk_1744.jpg); }
    }
    @media only screen and (min-width: 539px) and (max-width: 1200px) {
        /* Medium screen, non-retina */
        .fullscreen_container .fullscreen { background-image: url(/sites/default/files/styles/width_1200/public/collections/ss13/Avvikk_1744.jpg); }
    }
    @media only screen and (min-width: 1201px) and (max-width: 2000px) {
        /* Medium screen, non-retina */
        .fullscreen_container .fullscreen { background-image: url(/sites/default/files/styles/width_2000/public/collections/ss13/Avvikk_1744.jpg); }
    }
    @media only screen and (min-width: 2000px){
        /* Medium screen, non-retina */
        .fullscreen_container .fullscreen { background-image: url(/sites/default/files/collections/ss13/Avvikk_1744.jpg); }
    }
  }
}