/*HIDING STUFF*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/avvikk\/sites\/all\/themes\/avvikk-theme\/sass\/mobile\.scss}line{font-family:\000035}}
#header .block-views,
.shop,
#absolute_left,
#footer,
.press {
  display: none !important;
}

/*OVERRIDE CLASSES*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/avvikk\/sites\/all\/themes\/avvikk-theme\/sass\/mobile\.scss}line{font-family:\0000314}}
.big_font_style {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 13px;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/avvikk\/sites\/all\/themes\/avvikk-theme\/sass\/mobile\.scss}line{font-family:\0000320}}
.normal_font_style {
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 1.2em;
}

/*BODY ITEMS*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/avvikk\/sites\/all\/themes\/avvikk-theme\/sass\/mobile\.scss}line{font-family:\0000327}}
html,
body,
#page {
  min-width: 0;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/avvikk\/sites\/all\/themes\/avvikk-theme\/sass\/mobile\.scss}line{font-family:\0000338}}
.centered_content {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/avvikk\/sites\/all\/themes\/avvikk-theme\/sass\/mobile\.scss}line{font-family:\0000341}}
.centered_content_1200 {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/avvikk\/sites\/all\/themes\/avvikk-theme\/sass\/mobile\.scss}line{font-family:\0000344}}
#absolute_right {
  bottom: 0;
  left: 50%;
  top: auto;
  right: auto;
  -moz-transform: none;
  -webkit-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
}

/*TOP MENU*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/avvikk\/sites\/all\/themes\/avvikk-theme\/sass\/mobile\.scss}line{font-family:\0000357}}
#main {
  padding-top: 73px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/avvikk\/sites\/all\/themes\/avvikk-theme\/sass\/mobile\.scss}line{font-family:\0000360}}
#header {
  padding: 1rem;
  min-width: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/avvikk\/sites\/all\/themes\/avvikk-theme\/sass\/mobile\.scss}line{font-family:\0000364}}
#header #block-system-main-menu li:nth-child(1),
#header #block-system-main-menu li:nth-child(3) {
  width: auto;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/avvikk\/sites\/all\/themes\/avvikk-theme\/sass\/mobile\.scss}line{font-family:\0000369}}
#header #block-system-main-menu ul li ul {
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/avvikk\/sites\/all\/themes\/avvikk-theme\/sass\/mobile\.scss}line{font-family:\0000372}}
.inactive_li, #header #block-system-main-menu ul li.expanded ul li {
  display: block;
  height: 13px;
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/avvikk\/sites\/all\/themes\/avvikk-theme\/sass\/mobile\.scss}line{font-family:\0000378}}
#header #block-system-main-menu ul li.expanded ul {
  padding-top: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/avvikk\/sites\/all\/themes\/avvikk-theme\/sass\/mobile\.scss}line{font-family:\0000381}}
#header #block-system-main-menu li:nth-child(3) {
  float: right;
  text-align: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/avvikk\/sites\/all\/themes\/avvikk-theme\/sass\/mobile\.scss}line{font-family:\0000385}}
.active_li,
#header #block-system-main-menu ul li.expanded ul li.active-trail,
#header #block-system-main-menu ul li.expanded:hover ul li {
  height: 13px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/avvikk\/sites\/all\/themes\/avvikk-theme\/sass\/mobile\.scss}line{font-family:\0000397}}
.page-node-4 #main,
.page-node-4 #content-area,
.page-node-4 #content-inner.center,
.page-node-4 #content {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/avvikk\/sites\/all\/themes\/avvikk-theme\/sass\/mobile\.scss}line{font-family:\00003102}}
.page-node-4 #main img,
.page-node-4 #content-area img,
.page-node-4 #content-inner.center img,
.page-node-4 #content img {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/avvikk\/sites\/all\/themes\/avvikk-theme\/sass\/mobile\.scss}line{font-family:\00003106}}
img {
  max-width: 100%;
}

/*FRONTPAGE*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/avvikk\/sites\/all\/themes\/avvikk-theme\/sass\/mobile\.scss}line{font-family:\00003112}}
body.front .home_overlay {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/avvikk\/sites\/all\/themes\/avvikk-theme\/sass\/mobile\.scss}line{font-family:\00003114}}
body.front .home_overlay .home_overlay_inner {
  margin: 25px auto;
  width: 80%;
}

/*STATIC PAGES*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/avvikk\/sites\/all\/themes\/avvikk-theme\/sass\/mobile\.scss}line{font-family:\00003122}}
.page-node-5 .field-name-body {
  padding: 30px 10px;
}
